<div class="navbar navbar-expand-lg bg-danger navbar-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand" style="font-weight: 500; font-size: 50px;">PortFolio</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
   
</div>
    <div style=" background-color: gray; padding: 200px;">
        <div style="text-align: center; color: black; font-size: 60px;">
            <b>Samples component works!!!</b>
        </div>
    </div>
